.textContainer {
  flex-direction: column;
  margin-left: 100px;
  color: red;
  height: 90%;
  justify-content: center;
}

.textContainer h1 {
  margin-bottom: 0px;
}

.textContainer h3 {
  color: black;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
