html,
body {
  font-family: "Roboto", Georgia;
  padding: 0;
  margin: 0;
  background: url(https://mediad.publicbroadcasting.net/p/kmuw/files/styles/x_large/public/201812/BlueWave.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  overflow: hidden;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinContainer1 {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 40%;
  align-items: center;
  position: relative;
  left: -2px;
  top: 230;
}

.joinContainer2 {
  width: 25%;
}

.joinInput {
  border-radius: 7%;
  padding: 15px 20px;
  width: 100%;
  color: white;
  background-color: black;
}

::placeholder {
  color: white;
}

.heading {
  color: black;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

.TextC {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 2%;
  align-items: center;
  position: relative;
  top: 230px;
  left: -250px;
  background-color: white;
}
