.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #39cccc;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 4%;
  cursor: pointer;
}

.button2 {
  border-radius: 12px;
  background-color: #39cccc;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 15px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.onlineIcon {
  margin-right: 5%;
}
