.textContainer2 {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  color: black;
  height: 50%;
  justify-content: space-between;
  border-radius: 8px;
  background-color: white;
  width: 30%;
  padding-left: 25px;
}

.textContainer2 hr {
  border-top: solid black;
  width: 50%;
  margin: auto;
}

.onlineContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.online {
  display: flex;
  align-items: center;
}

.onlineContainer img {
  padding-left: 10px;
}
